@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Consolas';
    src: url('../public/fonts/CONSOLA.TTF');
}

#nprogress .bar {
    background: var(--primary);
}